* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(31, 34, 48, 1);
  /* background: var(--dark1); */
  color: rgba(255, 255, 255, 1);
  /* color: var(--seasalt); */
  font-family: 'DM Sans';
  display: flex;
  align-items: center;
  justify-content: center;

}

.header {
  margin-bottom: 10px;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.signin-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin .signin-btn {
  width: 140px;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 20px;
  gap: 21px;

  background: rgba(227, 195, 231, 1);
  color: rgb(64, 64, 64);

  border-radius: 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.signin-input {
  background: rgba(114, 116, 124, 1);
  border-radius: 20px;
  border: none;
  padding: 10px;
  outline: none;


}

.container {
  display: none;
}

.wrapper {
  height: 90vh;
  /* margin-top: 30px; */
  display: flex;

  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;

  gap: 1.5em;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto); */

}


.row {
  display: flex;
  gap: 1.5em;
  min-height: 250px;

}

.column {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 20px;
  background: rgb(53, 57, 68);
  min-height: 200px;
  min-width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}



#user-info {
  width: 40%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username {
  font-size: 1.8em;
  margin-bottom: -20px;
  /* margin-left: 50px; */

}

#user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}


.user-row {
  display: flex;
  gap: 1.5rem;
}

.user-container {
  background: rgba(227, 195, 231, 1);

  color: rgb(83 83 83);
  padding: 8px;
  border-radius: 20px;
  height: 70px;
  width: 95px;
  font-size: .75em;

}

.user-container p {
  padding-left: 4px;
  padding-bottom: 2px;
}

.user-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  /* color: white; */
  /* color: rgba(31, 34, 48, 1); */
  color: rgb(64, 64, 64);

}

/* #user-level {
    background: rgba(224, 130, 96, 1);
    color: white;
  } */

#bar-chart {
  width: 60%;
  min-width: 440px;

}

.bar {
  fill: rgba(114, 116, 124, 1);
}

.bar:hover {
  fill: rgba(227, 195, 231, 1);
}

#projects {
  background-color: rgba(227, 195, 231, 1);
  /* color: rgb(29, 29, 29); */
  color: rgb(64, 64, 64);

  /* width: 25%; */
  /* margin-top: -10px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: scroll;
  margin-top: 40px;
  height: 630px;
}

.project-container {
  background: rgba(236, 214, 238, 1);
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  font-size: .9em;
}

.project-name {
  font-weight: bold;
  color: rgb(64, 64, 64);
}

.project-date,
.project-xp {
  color: rgb(64, 64, 64);

}

#audit-ratio {
  width: fit-content;
  background-color: rgb(53, 57, 68);
  color: rgba(255, 255, 255, 1);
  position: relative;
  /* min-width: 240; */
}

#audit-ratio p {
  padding-bottom: 35px;
}

.audit-text {
  color: rgba(255, 255, 255, 1);
  font-size: 0.8em;
}

#ratio {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
  font-size: 60px;
}

#ratio-text {
  font-size: 50px;
}

#line-chart {
  min-width: 520px;
  color: rgba(255, 255, 255, 1);

}

.circle-text {
  font-size: .7em;
  fill: rgb(243, 241, 241);
}

.name-text {
  fill: rgb(243, 241, 241);
  font-size: .8em;

}

.kb-text {
  fill: rgba(227, 195, 231, 1);
  font-size: .8em;
}

rect {
  fill: rgba(227, 195, 231, 1);
}

circle {
  fill: rgba(227, 195, 231, 1);
}

.logout-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -60px;
  margin-right: 10px;
  color: rgba(114, 116, 124, 1);
  height: 40px;

  cursor: pointer;
}


#hide {
  color: transparent;
}